@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Estilos agregados para aprovechar la herencia en css */
body{
    font-family: "Montserrat", sans-serif;
    line-height: 2vw;
    font-size: 20px;
    font-weight: 200;
    text-align: justify;
    color: white;
}
/* -------------------------------------------------------- */
.card-info{
    margin: 10px 0;
}

.card-info h1{
    font-size: 35px;
    font-style: italic;
    color: gray;
    margin: 20px;
}

.cards{
    background-color: black;
    width: 25rem;
    padding: 2rem 3rem;
    margin: 2.5rem;
    border-radius: 10px;
    display: inline-block;
}

.cards button{
    border: 1px solid white;
    background-color: black;
    color: white;
    border-radius: 100vw;
    padding: 0.5rem 1rem;
    transition: 200ms;
    font-style: italic;
    font-weight: 500;
}

.cards button:hover{
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: crimson;
}

.card-image-container{
    display: flex;
    width: 100%;
    justify-content: center;
}
.card-image-container img{
    width: 20rem
}